{%extends "base.html"%}
<html>
<body>

{% block sidebar%}
<ul>
	<li><a href="/articles/all">Articles</a></li>
</ul>
{%endblock%}

{%block content%}
<h1>{{article.title}}</h1>
<p>{{article.body}}</p>
{%if article.thumbnail%}
<p><img src="/static/assets/{{article.thumbnail}}" width="200"></p>	
{%endif%}
<hr>
<p> {{article.likes}} likes this article</p>
<p><a href="/articles/like/{{article.id}}">Like</a></p>

<p>{{article.unlikes}} unlike this article</p>
<p><a href="/articles/unlike/{{article.id}}">Unlike</a></p>

{% for comment in comments%}
	<br>
	{{comment.first_name}}<br>
	{{comment.second_name}}<br>
	{{comment.body}}<br>

	<a href="/articles/delete_comment/{{comment.id}}/">delete comment</a>
{%endfor%}
<!--add comment form-->
<p>
<a href="/articles/add_comment/{{article.id}}">Add a comment</a>

<!--delete comment-->


{%endblock%}
</body>
</html>