{% extends "base.html"%}
<html>
<body>
<h1>Articles</h1>
{%block sidebar%}
	<ui>
		<ul><a href="/articles/all">Articles</a></ul>
		<ul><a href="/articles/create">Create Article</a></ul>
	</ui>
{%endblock%}

{%block content%}
<h2> language is {{language}}<h2>
<h2> session language is {{session_language}}</h2>
{% if articles.count > 0 %}
{% for article in articles %}
<div>
	<h2><a href='/articles/get/{{article.id}}/'>{{article.title}}</a></h2>
	<p>{{article.body|lower|truncatewords:"20"}}</p>
	<p> {{article.likes}} likes this article</p>
</div>
{% endfor %}

<!--next/prev page links-->
{% if articles.paginator.num_pages > 1%}
{% if articles.has_previous %}
	<a href="?page={{articles.previous_page_number}}">older blog</a>
{%endif%}

{% if articles.has_next %}
	<a href="?page={{articles.next_page_number}}">new blog</a>
{%endif%}

{%endif %}

{%else %}
	<p>None to show</p>
{%endif%}
</body>
{%endblock%}
</html>