{%load static%}
<html>
<head>
	<title>{%block title%}my base template {%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{%static "assets/css/default.css"%}">
	<script src="{%static "assets/js/jquery-2.0.0.min.js"%}"</script>
	<script src="{%static "assets/js/ajax.js"%}"></script>
</head>
<body>
	<div id="page">
		<div id ="sidebar">
			{%block sidebar%}
			<ul>
				<li> <a href="/articles/all">Articles</a></li>
				<li> <a href="/admin/">Admin</a></li>
				<li> <a href="/accounts/login/">login</a></li>
				<li> <a href="/accounts/register/">register</a></li>

			</ul>
			{%endblock%}
		</div>

		<div id="content">
			{%block content%}this is content area{%endblock%}
			<p>
				<img src="{%static "assets/images/python-logo.gif"%}" width="200"/>
			</p>
		</div>
	</div>
<footer id="footer">
  <div class="container">
    <p>&copy; Copyright pingpangkong 2013. All rights reserved.</p>
    <ul>
      <li><a href="/about" title="关于我们">关于我们</a></li>
      <li><a href="/about/contact" title="联系我们">联系我们</a></li>
      <li><a href="/about/share" title="分享">分享</a></li>
      <li><a href="/about/policy" title="免责声明">免责声明</a></li>
      <li><a href="/about/copyright" title="版权声明">版权声明</a></li>
    </ul>
  </div>
</footer>
</body>
</html>